@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.App {
  margin-top: 50px;
}

* {
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background-color: #f7f8fc;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin: 0px;
}

.center {
  text-align: center;
}

.grid {
  display: grid;
  justify-content: center;
}

.red { color: red; }
.gray { color: gray; }
.green { color: green; }
.orange { color: orange; }

.margin-top-l { margin-top: 30px; }
.margin-bottom-l { margin-bottom: 30px; }